body {
	font-family: "Montserrat","Lato",sans-serif;
	background: url("/img/geo.png") no-repeat right top;
}

#background {
/*	background: url("/img/dots.gif") no-repeat right top;*/
/*	opacity: 0.2;*/
/*	z-index: -1;
	position: absolute;*/
}

#header {
	height: 200px;
	background-color: #555;
	z-index: 1;
	text-align: center;
	color: white;
	font-weight: bolder;
	width: 100%;
}

h1 {
	font-size: 5em;
	letter-spacing: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 45px;
}

#homeContainer {
	margin-top: 5%;
	margin-bottom: 10%;
}

.portalLink {
	display: inline;
	background-color: lightgrey;
	border-radius: 10px;
	max-width: 40%;
}

img {
	height: 175px;
	width: 175px;
}

h3 {
	font-size: 3em;
}

footer {
	background-color: #555;
	text-align: center;
	color: white;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
}










