body {
	font-family: "Montserrat","Lato",sans-serif;
	/*background: url("/img/geo.png") no-repeat right top;*/
}

#home-background {
	background: url("/img/geo.gif") no-repeat right top;*/
	opacity: 0.2;*/
	z-index: -1;
	position: absolute;*/

}

/****** PAGE HEADERS ******/
#home-header {
	height: 150px;
	background-color: #555;
	z-index: 1;
	text-align: center;
	color: white;
	font-weight: bolder;
	width: 100%;
}

#home-header h1 {
	font-size: 5em;
	letter-spacing: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 45px;
}

#student-header {
	height: 200px;
	background-color: white;
	z-index: 1;
	text-align: center;
	color: #555;
	font-weight: bolder;
	width: 100%;
}

#student-header h1 {
	font-size: 5em;
	letter-spacing: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 45px;
}


#homeContainer {
	margin-top: 10%;
	margin-bottom: 15%;
}

.portal-link {
	display: inline;
	background-color: lightgrey;
	border-radius: 10px;
	max-width: 40%;
	margin-top: 10%;
}

img {
	height: 175px;
	width: 175px;
	padding: 10px;
/*	border-radius: 50%;*/
}

.status {
	font-size: 3em;
	margin-top: 30px;
	letter-spacing: 10px;
	color: #f5881f;
}

#student-header {
	display: inline-block;
}

.cohort-link {
	display: block;
	background-color: lightgrey;
	border-radius: 10px;
	max-width: 40%;
	margin-top: 5%;

}

.cohort {
	font-size: 3em;
	margin-top: 10%;
	letter-spacing: 10px;
	color: #f5881f;
}

.important {
	display: block;
	background-color: lightgrey;
	border-radius: 10px;
	margin-top: 1%;
}

.reminder {
	color: red;
	text-align: center;
}


.calendar {
	font-size: 2em;
	margin-top: 5%;
	letter-spacing: 10px;
	color: #f5881f;
}

#cal-modal {
	min-width: 768px;
	max-width: 1200px;
	margin: 30px auto;
}

footer {
	background-color: #555;
	text-align: center;
	color: white;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    letter-spacing: 10px;
}










